@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
.about,
.myexperience,
.projects,
.contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 60px 16px;
  }
}

@media (max-width: 768px) {
  .about-img{
    height: 240px;
    width: 240px;
  }
}

@media (max-width: 768px) {
  .about-text{
    width: 343px;
    box-sizing: border-box;
    padding: 0px 12px;
  }
}

@media (max-width: 768px) {
  .product-exp,
  .frontend-exp{
    width: 343px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .project{
    width: 343px;
  }
}


@media (max-width: 768px) {
  .sheet-frame.active{
  width: 100vw;
  left: 0;
  }
}

@media (max-width: 768px) {
  .desktop-nav{
  display: none;
  }
}

@media (max-width: 768px) {
  .mobile-nav{
  display: flex;
  }
}

@media (max-width: 768px) {
  .email-frame{
  width: 343px;
  box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .education,
  .experience{
  width: 343px;
  height: 140px;
  box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .name{
  font-size: 32px;
  }
}


